header {
    background-color: #6445c1;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;

}

nav li a {
    color: white;
    text-decoration: none;

    font-size: 1.1rem;
    font-weight: bold;

    transition:
        transform 0.2s ease,
        color 0.2s ease;
}

nav li a:hover {
    color: #61dafb;
    transform: scale(1.15);
}